<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <meta property="og:title" content="🍻 WhereIsVino.dk" />
    <meta
      property="og:description"
      content="Join us in finding where to enjoy Vinohradská 11 in Copenhagen! Share your discoveries and never miss a great beer again."
    />
    <meta property="og:image" content={~p"/images/vino_11.jpg"} />
    <meta property="og:url" content="https://whereisvino.dk" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="🍻 WhereIsVino.dk" />
    <meta
      name="twitter:description"
      content="Join us in finding where to enjoy Vinohradská 11 in Copenhagen!"
    />
    <meta name="twitter:image" content={~p"/images/vino_11.jpg"} />
    <.live_title default="Pivo" suffix=" · Where is Vino?">
      {assigns[:page_title]}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/css/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/js/app.js"}>
    </script>
    <script>
      (() => {
        const setTheme = (theme) => {
          if (theme === "system") {
            localStorage.removeItem("phx:theme");
            document.documentElement.removeAttribute("data-theme");
          } else {
            localStorage.setItem("phx:theme", theme);
            document.documentElement.setAttribute("data-theme", theme);
          }
        };
        if (!document.documentElement.hasAttribute("data-theme")) {
          setTheme(localStorage.getItem("phx:theme") || "system");
        }
        window.addEventListener("storage", (e) => e.key === "phx:theme" && setTheme(e.newValue || "system"));
        
        window.addEventListener("phx:set-theme", (e) => setTheme(e.target.dataset.phxTheme));
      })();
    </script>
  </head>
  <body>
    {@inner_content}
  </body>
</html>
